body {
	font-family: 'Lato', sans-serif;
	position: relative;
	overflow-x: hidden;
}
#home {
	background: url(../images/homebg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
}
#home .container {
	padding: 200px 0;
}
#home h1{
	font-size: 72px;
	color: white;
	font-weight: 100;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: inline-block;
	padding-bottom: 15px;

}
#home h3{
	font-size: 24px;
	font-weight: 100;
	color: white;
	margin-bottom: 4px;
}
#home i{
	color: white;
	font-size: 50px;
}
#about .container {
	padding: 200px;
	}
#about {
	background: url(../images/aboutbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#about h3 {
	font-size: 24px;
	font-weight: 100;
	color: white;
	text-align: center;
}
#about hr {
	width: 50px;
}
#about p {
	font-size: 20px;
	font-weight: 100;
	color: white;
	text-align: center;
}

#services h3{
	
	color: #873fb5;
	font-weight: 100;
}

#services .service-title {
	padding: 50px 0;

}

#services i{
	
	border-right: 2px solid #c1c1c1;
	font-size: 48px;
	padding-right: 20px;
	color: #c1c1c1;
	float: left;
}

#services .service-header h3 {
	
	
	font-weight: 900;
	color: black;
	font-size: 24px;
}

#services .service-header {
	display: inline-block;
	padding-left: 20px;
	margin-top: -20px;
}

#services h4 {
	color: #873fb5;
}

#services .container .coll{
	padding-bottom: 40px;
}

#skills {
	color: #fff;
	background: url(../images/skillsbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 467px;
}

#skills h2{
	font-weight: 900;
	font-size: 48px;
}

#skills h3{
	font-weight: 100;
	font-size: 24px;
	padding-bottom: 20px;
	margin-top: -10px;
}

#skills .skill-left{
	padding: 110px 50px;
}

#skills p{
	padding-bottom: 20px;
	font-weight: 100;
}

#skills .button1 {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

#skills .button2 {
	font-size: 16px;
	margin-left: 16px;
	color: #fff;
	text-decoration: none;
}

#skills .button1:hover {
	border-bottom: 2px solid #873fb5;
	color: #873fb5;
	padding-bottom: 10px;
}

#skills .button2:hover {
	color: #873fb5;
	border-bottom: 2px solid #873fb5;
	padding-bottom: 10px;
}

#skills .skill-right {
	padding: 90px 20px;
}

#skills .progress {
	height: 30px;
	opacity: 0.75;
	background-color: #14110c;
}

#skills .progress-bar{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#793a94+1,8d4563+100 */
background: #793a94; /* Old browsers */
background: -moz-linear-gradient(left,  #793a94 1%, #8d4563 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #793a94 1%,#8d4563 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #793a94 1%,#8d4563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793a94', endColorstr='#8d4563',GradientType=1 ); /* IE6-9 */

}

#portfolio .piccol{
	padding: 0;

}

#portfolio h3 {
	    color: #873fb5;
    font-weight: 100;
}

#portfolio .portfolio-title {
	padding: 50px 0;

}

#portfoliopics {
	margin-bottom: 100px;
	
}

#statistics .col-md-3.col-sm-6.col-xs-12 {
	background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

#statistics .statcol1 {
    background: url(../images/stats1.png);
}

#statistics .statcol2 {
    background: url(../images/stats2.png);
}

#statistics .statcol3 {
    background: url(../images/stats3.png);
}

#statistics .statcol4 {
    background: url(../images/stats4.png);
}

#statistics .row {
	color: white;
}

#statistics h3 {
	font-weight: 300;
    line-height: 0.5;
}

#statistics h1 {
	font-weight: bold;
    line-height: 0.5;
}

#statistics i {
	font-weight: bold;
}



#portfolio .portthumbnail {
	height: 270px;
	max-width: 390px;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;

}

#portfolio .portthumbnail img {
	width: 100%;
	height: 100%;
}

#portfolio .overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: #8d4563;
	opacity: 0;
	text-align: center;
	padding: 80px 0 30px 0;
}

#portfolio .portthumbnail:hover .overlay {
	opacity: 0.75;
	cursor: hand;
}

#portfolio .portthumbnail:hover .overlay h3 {
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	padding: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;

}

#portfolio .portthumbnail:hover .overlay i {
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 24px;
}

section#designer {
    margin-top: 80px;
    background: url(../images/skillsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

section#designer .overlay2 {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: #ab5f9d;
    opacity: 0.5;
}


.name h2 {
    z-index: 2;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 80px;
}

.dash {
    display: inline-block;
    padding: 0 5px;
    font-weight: lighter;
    padding-left: 195px;
}

.name {
    padding-top: 80px;
    vertical-align: bottom;
   }

.name h4 {
	display: inline-block;	
	font-weight: lighter;
}

.details h4 {
    font-weight: lighter;
    FONT-SIZE: medium;
    padding: 50px 180px 80px 180px;
    margin-top: 99px;
}

section#designer img {
	    margin: 20px auto;
    width: 17%;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    display: inline-block;
    left: 186px;
}

section#contact-map {
    padding-bottom: 80px;
    padding-top: 80px;
}

input#firstname, input#phone, input#lastname, input#email, textarea.form-control {
    margin-bottom: 21px;
    padding: 20px;
    font-size: 16px;
    background: #f5f5f5;
    color: #a6a6a6;
}

input#firstname:focus, input#phone:focus, input#lastname:focus, input#email:focus, textarea.form-control:focus {
    background: #fff;
    border-color: #8c1a8c;
  }

.form-control:focus::-webkit-input-placeholder {
 	color: #8c1a8c;
 
 }

div#topfooter {
    background: url(../images/homebg.png);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    
}

div#topfooter .col-md-4.col-sm-12.col-xs-12 {
    padding-top: 80px;
}
.social li {
	display: inline-block;
	padding-left: 0;
    
}

.social ul {
	
	padding-left: 0;
    
}
.social i {
	font-size: 30px;
	padding: 15px;
	color: #fff;
}

section#footer .overlay3 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #241c29;
    opacity: 0.8;

}

div#topfooter {
    position: relative;
    width: 100%;
    min-height: 275px;
    padding-top: 80px;
}

.footercontent {
    position: absolute;
       top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.footertitle {
    border-bottom: solid 1px #8c7c8a;
        margin-left: 89px;
    width: 180px;
    border-top: solid 1px #8c7c8a;
    color: #8c7c8a;
    margin-bottom: 10px;
}

.footertitle h1 {
 display: inline-block;
     margin-top: 5px;
    margin-bottom: 6px;
}

.footertitle h1#light {
 font-weight: 300;
}
 
 .footertitle h1 strong {
color: #fff;
} 

div#copyright {
    background: #241c29;
    color: #efd2e8;
    }

    div#copyright h5 {
    
    font-size: smaller;
    color: #796884;
	}

	div#copyright i {
    padding-right: 3px;
	}